.text{
    color: red;
}
.intro h1{
    color: red;
}
.main{





   display: flex;
    align-items: center;
    justify-content: center;
   /* top:-0.1px;*/
   /* right: -50px;*/
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.crab{
    width: 50px; /* Set to your desired width */
    height: 50px; /* Set to your desired height */
    position: absolute;
    overflow: hidden ;
    right: -950px;

}
.crab{
    width: 100%;
    height: auto;
    display: block;
}


