
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@600;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, .navbar a, .button a {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
   display: flex;
   justify-content: center;
   margin: 20px;
  
}
#name {
   font-size: 30px;
   color: #89B9AD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}
.main textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;    
    height: 200px;
    border: 3px solid rgb(200, 194, 218);
    border-radius: 5px;
    resize: none;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}

body {
    background-color: #FFEBD8;
    color: var(--text-color);
}

.main form {
    padding: 15px;
    width: 100%;
    max-width: 600px;
    border-radius: 4px;
    background-color: #f8f4e5;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.resultt {
    overflow: auto;
    max-height: 600px;
}
.banners {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0px 0px 15px 0px;
}
.banner {
    flex: 0 1 33.333%;
    display: flex;
    justify-content: center;
    height: 75px;
    border-radius: 15px;
}
.buttons {
    font-family: 'Roboto', sans-serif;
    display: flex;
}
.output {
    max-height: 500px;
    margin-top: 10px;
    padding: 24px;
    overflow: auto;
    background: #fff;
    border: 3px #cccccc solid;
    font-size: 13px;
}
.button {
    height: 75px;
    flex: 0 1 100%;
    display: flex;
    margin-bottom: 20px;
}



.banner input, .button-download input, .button a {
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: #C7DCA7;
    /* border-radius: 20px; */
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Hover Effect */
.banner input:hover, .button-download input:hover, .button a:hover {
    background-color: #A8BFA6; /* Slightly darker shade for hover */
    color: #fff;
}


.button, .button-download {
    height: 75px;
    flex: 0 1 100%;
    display: flex;
    margin-bottom: 20px;
} 

.error-wrapper {
    display: flex;
    justify-content: center;
}

.code, .error-text{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.code {
    font-size: 72px;
}
.error-text{
    font-size: 50px;
}

.footer_text{
    display: flex;
    justify-content: center;
    margin: 20px;
  
   
}

#footer_text {
    border: 2px solid #FFC5C5;
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
    background-color: #FFC5C5;
    /* Add other styling properties if needed */
}

@media (max-width: 767px) {
    .navbar a {
        font-size: 18px;
    }

    .banner, .button, .button-download {
        flex: 0 1 100%;
        margin-bottom: 10px;
    }
    .banner input:hover, .button-download input:hover, .button a:hover {
        background-color: #A8BFA6; /* Slightly darker shade for hover */
        color: #fff;
    }
    
    .main {
        flex-direction: column;
        align-items: stretch;
    }

    .main form {
        width: auto;
    }
}
